# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@main
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: sjkim04
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          
          plugin_activity: yes
          plugin_activity_days: 365
          plugin_activity_filter: ref/create, release, push, pr, wiki
          plugin_activity_limit: 3
          plugin_activity_load: 300
          plugin_activity_visibility: public
          plugin_activity_skipped: sjkim04
          plugin_activity_ignored: surplus-dev
          
          plugin_code: yes
          plugin_code_lines: 12
          plugin_code_load: 100
          plugin_code_visibility: public
          plugin_code_skipped: sjkim04/sjkim04
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_lines: yes
          plugin_lines_skipped: sjkim04/sjkim04
          
          
          plugin_notable: yes
          plugin_notable_repositories: yes
          plugin_notable_indepth: yes
          
          # Coding Habits plugin
          plugin_habits: yes
          plugin_habits_from: 500       # Use 500 events to compute habits
          plugin_habits_days: 30
          plugin_habits_facts: yes      # Display facts section
